<template name="about">
 <h3>Mikä tämä on?</h3>
 <p>Sivuston tarkoitus on toimia työkaluna COVID-19 -pandemian trendien pähkäilyyn. Mikä tulee olemaan kasvava, mikä tulee olemaan laskeva ilmiö.</p>
 <p>Sivusto kerää minimaalisen tiedon toiminnassaan. Vastauksia varten selaimesi generoi yksilöllisen tunnuksen, jolla pidetään kirjaa siitä, että mihin kysymyksiin olet jo vastannut.</p>
 <p>Huijaaminen on teknisesti mahdollista, mutta uskomme, että sivuston väärinkäyttö ei maksa vaivaa. Kaikki data on avoimesti sivulla ja sitä voi käyttää haluamallaan tavalla. Lisenssi CC BY 4.0.</p>
 <p>Sivuston lähdekoodit löytyy <a href="https://github.com/savikko/koronatrendit">GitHubista</a>.</p>
 <p>Jos haluat ottaa yhteyttä, sähköposti <a href="mailto:tommi@kontakto.fi">tommi@kontakto.fi</a> palvelee.</p>
</template>